//Main Styles

.container {
  margin-top: 55px;
}

.page-drag-placeholder {
  height: 0px;
  border: 1px solid @admin-green;
  &:before {

  }
}

.page-list {
  min-height: 10px;
  outline: 1px solid red;
  list-style-type: none;
  &.child-pages {
    padding: 5px 0 5px 5px;
  }
  .page-preview {
    span {
      display: inline-block;
      width: 500px;
      padding: 3px;
      border-radius: 3px;
      border: 1px solid grey;
    }
  }
}
