!!!
%html
  %head
    %title Mobile CMS
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    - if user_signed_in?
      %meta{name: 'current-user-id', content: current_user.id}
    = csrf_meta_tags
%body
  = yield
