!!!
%html
  %head
    %title Mobile CMS
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    - if user_signed_in?
      %meta{name: 'current-user-id', content: current_user.id}
    %meta{name:"apple-mobile-web-app-capable", content:"yes"}
    %meta{name:"apple-mobile-web-app-status-bar-style", content:"black"}
    %meta{name:"viewport", content:"width=320, initial-scale=1.0, user-scalable=no"}
    = csrf_meta_tags
%body
  = yield
